body {
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.canvas {
    margin-top: 200px;
    min-width: 570px;
    width: 60%;
    aspect-ratio: 1.5/1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 570px;
}

.canvas * {
    position: absolute;
}



.window {
    height: 25%;
    width: 60%;
    top: 15%;
}

.window-frame-top {
    height: 25%;
    width: 68%;
    border-radius: 100%;
    border-top: 0.25vw solid rgba(255, 255, 255, 0.486);
    left: 50%;
    top: 8%;
    transform: translateX(-50%);
}

.window-frame-left {
    height: 100%;
    width: 25%;
    top: 20%;
    left: 0%;
    overflow: hidden;
}

.window-frame-left::after {
    content: "";
    position: absolute;
    height: 310%;
    width: 100%;
    border-left: 0.3vw solid rgba(255, 255, 255, 0.815);
    border-radius: 100%;
    transform: rotate(35deg);
    top: -85%;
    left: 15%;
}

.window-frame-right {
    height: 100%;
    width: 25%;
    top: 20%;
    right: 1%;
    overflow: hidden;
}
.window-frame-right1 {
    width: 28%;
    height: 20%;
    border: 0.1px solid black;
    background-color: black;
    border-left: transparent;
    border-right: transparent;
    border-bottom: transparent;
    border-radius: 160%;
    left: 76%;
    top: 56%;
    transform: rotate(56deg);
}

.window-frame-right::after {
    content: "";
    position: absolute;
    height: 310%;
    width: 100%;
    border-right: 0.3vw solid #ffffffd0;
    border-radius: 100%;
    transform: rotate(-35deg);
    top: -90%;
    right: 15%;
}

.window-frame-bottom {
    height: 15%;
    width: 100%;
    /* background-color: #ffffff; */
    background-image: linear-gradient( to right, #fff, rgba(255, 255, 255, 0.267), #fff);
    left: 50%;
    transform: translateX(-50%);
    bottom: -20%;
    border-radius: 50% 50% 0 0;
}

.window-frame-bottom::after {
    content: "";
    position: absolute;
    background-color: black;
    height: 200%;
    width: 100%;
    top: 4%;
    border-radius: 100%;
}

.bottom {
    height: 50%;
    width: 90%;
    /* background-color: #006eff23; */
    top: 41%;
    border-radius: 30%;
}
.capo {
    position: relative;
    width: 84%;
    height: 10%;
    border: 0.1px solid #10101b;
    left: 8%;
    border-radius: 130px 130px 100px 100px;
    transform-origin: top center;
    border-top: transparent;
    top: 12%;
}

.bottom-top {
    height: 5%;
    width: 16%;
    top: 10%;
}

.bottom-top-left {
    transform: rotate(-26deg);
    left: 3%;
}

.bottom-top-left::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 60%);
    background-color: #fff;
}

.bottom-top-left .adjust-1 {
    height: 90%;
    width: 45%;
    background-color: black;
    border-radius: 100%;
    z-index: 2;
    top: 58%;
    left: 5%;
}

.bottom-top-left .adjust-2 {
    height: 60%;
    width: 55%;
    background-color: black;
    background-color: red;
    background-color: #fff;
   
    border-radius: 100%;
    z-index: 1;
    top: 45%;
    right: 0%;
}

.bottom-top-left .adjust-3 {
    height: 60%;
    width: 45%;
    background-color: black;
    background-color: #fff;
    border-radius: 100%;
    z-index: 1;
    top: 15%;
    left: 3%;
}

.bottom-top-left .adjust-4 {
    height: 80%;
    width: 55%;
    background-color: black;
    border-radius: 100%;
    z-index: 1;
    top: -40%;
    right: -1%;
    transform: rotate(-5deg);
}

.bottom-top-right {
    transform: rotate(25deg);
    right: 1%;
}

.bottom-top-right::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    clip-path: polygon(0 0, 100% 40%, 100% 60%, 0 100%);
    background-color: #fff;
}

.bottom-top-right .adjust-1 {
    height: 90%;
    width: 45%;
    background-color: black;
    border-radius: 100%;
    z-index: 3;
    top: 58%;
    right: 0%;
}

.bottom-top-right .adjust-2 {
    height: 60%;
    width: 55%;
    background-color: #fff;
    border-radius: 100%;
    z-index: 1;
    top: 45%;
    left: 0%;
}

.bottom-top-right .adjust-3 {
    height: 60%;
    width: 45%;
    background-color: #fff;
    border-radius: 100%;
    z-index: 3;
    top: 5%;
    right: 0%;
}

.bottom-top-right .adjust-4 {
    height: 80%;
    width: 55%;
    background-color: black;
    border-radius: 100%;
    z-index: 1;
    top: -40%;
    left: -1%;
    transform: rotate(5deg);
}

.top-line {
    width: 100%;
    height: 10%;
    background-color: #fff;
}

.simbol__top {
    position: absolute;
    width: 6%;
    height: 8%;
    border: 1px solid #CCC;
    border-radius: 50%;
    top: 25%;
    right: 47%;
    border-color:linear-gradient(#000, #222222);
    clip-path: polygon( 10% 0, 90% 0, 100% 20%, 90% 84%, 90% 100%, 10% 100%, 10% 83%, 0% 20%);
}

.license__plate {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 25%;
    background-color: black;
    border-top: 2px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-radius: 5px 5px 5px 5px;
    left: 35%;
    top: 79%;
    padding: 0.5px 0.5px;
    
}
.license__plate p {
    color: white;   
}

.tires__left {
    width: 20%;
    height: 40%;
    border: 1px solid white;
    border-radius: 10%;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    top: 90%;
    left: 2%;
}
.tires__right {
    width: 20%;
    height: 40%;
    border: 1px solid white;
    border-radius: 10%;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    top: 90%;
    right: 2%;
}


.mirrors {
    height: 11%;
    width: 100%;
    top: 35%;
}

.mirror {
    height: 100%;
    width: 18%;
    /* left: 3%; */
}

.left-mirror {
    left: 3%;
}

.left-mirror .triangle {
    right: -24%;
    transform-origin: bottom left;
    transform: rotate(-37deg);
    clip-path: polygon(30% 13%, 0 0, 0 100%);
}

.right-mirror {
    right: 3%;
}

.right-mirror .triangle {
    left: 4%;
    transform-origin: bottom left;
    transform: rotate(37deg) rotateY(180deg);
    clip-path: polygon(30% 13%, 0 0, 0 100%);
}

.triangle {
    height: 55%;
    width: 27%;
    background-color: #000000;
    border: 1px solid #ffffffb4;
    bottom: 0;
}

.mirror-bottom {
    height: 40%;
    border: 1px solid red;
    border-color: transparent transparent #fff #fff;
    width: 50%;
    top: 15%;
    transform: rotate(5deg);
    right: 28%;
    border-radius: 15px 20px 0 30px;
}

.mirror-bottom::after {
    content: "";
    position: absolute;
    height: 50%;
    width: 25%;
    background-color: rgb(0, 0, 0);
    top: 59%;
    left: 104%;
}

.mirror-bottom::before {
    content: "";
    position: absolute;
    height: 50%;
    width: 33%;
    top: -88%;
    left: 45%;
    border-radius: 50%;
    border: 1px solid;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-left-color: currentcolor;
    border-color: grey #fff transparent transparent;
    transform: rotate(-6deg);
}

.right-mirror .mirror-bottom {
    transform: rotate(-5deg) rotateY(180deg);
    right: 20%;
}

.reflection {
    height: 100%;
    width: 100%;
    background: linear-gradient(#000, rgba(0, 0, 92, 0.596));
    border-radius: 100%;
}

.dark {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.781);
    z-index: 3;
    animation: dark 1s 1.5s linear forwards;
}

@keyframes dark {
    to {
        background-color: rgba(0, 0, 0, 0);
    }
}



