.simbol__front {
    position: absolute;
    width: 12%;
    height: 32%;
    border: .1rem solid #CCC;;
    border-radius: 50%;
    top: 42%;
    right: 44%;
}

.simbol__front--triangle1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 0%;
    height: 0%;
    border-bottom: 1.5rem solid #333;
    border-left: .20rem solid transparent;
    border-right: .20rem solid transparent;
    left: 45%;
    top: 5%;
}
.simbol__front--triangle1-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 0%;
    height: 0%;
    border-bottom: 1.4rem solid white;
    border-left: .1rem solid transparent;
    border-right: .1rem solid transparent;
    transform: rotate(3deg);
    left: 46.5%;
    top: 8%;
}
.simbol__front--triangle1-2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0;
    height: 0;
    border-top: .2rem solid #ccc;
    border-left: .20rem solid transparent;
    border-right: .20rem solid transparent;
    left: 45%;
    top: 47%;;
    box-sizing: border-box;
}

.simbol__front--triangle2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 0%;
    height: 0%;
    border-top: 1.5rem solid #ccc;
    border-left: .20rem solid transparent;
    border-right: .20rem solid transparent;
    top: 44%;
    left: 21.8%;
    transform: rotate(60deg);
}
.simbol__front--triangle2-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 0%;
    height: 0%;
    border-top: 1.4rem solid #333;
    border-left: .1rem solid transparent;
    border-right: .1rem solid transparent;
    top: 43%;
    left: 25%;
    transform: rotate(56deg);
}
.simbol__front--triangle2-2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0;
    height: 0;
    border-bottom: .2rem solid #ccc;
    border-left: .20rem solid transparent;
    border-right: .20rem solid transparent;
    left: 41.6%;
    top: 51%;
    transform: rotate(60deg);
    box-sizing: border-box;
}

.simbol__front--triangle3 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 0%;
    height: 0%;
    border-top: 1.5rem solid white;
    border-left: .20rem solid transparent;
    border-right: .20rem solid transparent;
    transform: rotate(-60deg);
    left: 68.7%;
    top: 44%;
}
.simbol__front--triangle3-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 0%;
    height: 0%;
    border-top: 1.4rem solid #333;
    border-left: .1rem solid transparent;
    border-right: .1rem solid transparent;
    transform: rotate(-56deg);
    left: 72%;
    top: 43.4%;
}
.simbol__front--triangle3-2 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0;
    height: 0;
    border-bottom: .2rem solid #ccc;
    border-left: .20rem solid transparent;
    border-right: .20rem solid transparent;
    right: 40.9%;
    top: 51%;
    transform: rotate(-60deg);
    box-sizing: border-box;
}
